<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--https://github.com/settings/tokens-->
    <add key="GitHubToken" value="your token here"/>
  </appSettings>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False" bypassonlocal="True"/>
    </defaultProxy>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
</configuration>